body {
  padding: 0 !important;
  margin: 0  !important;
  overflow: visible;
}

#menu-bar {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 30px !important;
  background: #34475a !important; 
  -webkit-app-region: drag !important;
}

#menu-bar > div {
  height: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.menubar-btn {
  -webkit-app-region: no-drag !important;
}

.container {
  height: calc(100vh - 30px) !important;
  background: #34475ab0 !important;
  color: white !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center!important;
  font-size: 2em !important;
}

button {
  height: 100% !important;
  padding: 0 15px !important;
  border: none;
  background: transparent;
  outline: none;
}

button:hover {
  background: rgba(221, 221, 221, 0.2);
}

#close-btn:hover {
  background: rgb(255, 0, 0);
}

button i {
  color: white;
}
