
                            @import url('https://fonts.cdnfonts.com/css/cascadia-code');
                




nav a{
    display: inline !important;
    text-decoration: none !important;
}

h1.heading {
margin: 2rem;
    font-size: 2em !important;
}

body{
    margin: 0 !important;
    font-family: 'Cascadia Code' , sans-serif !important;
    font-weight: medium;
    font-size: medium;
    overflow:visible;
    /* background: #0f172a; */
    color: black     !important;
}
h5[title="menu"]{
    color: white !important;
}
.dvrshd{
    padding: 1rem !important;
}

.sugestion{
     margin: 3rem;
}

.code{
    color: white !important;
    border-radius: 13px !important; 
    
    padding: 7px !important;
    background-color: #03071e !important;
    /* border: whitesmoke 3px solid !important; */
}

pre {
    margin-top: 1rem !important;
}

.sugestion img{
    height: 32rem !important;
}



.coolors-palette-widget{
    border: whitesmoke 3px solid !important;
    height: 115px !important;
}

.coolors-palette-widget_info {
    display: none !important;
    box-shadow: none;
}

h5:not([title="menu"]), h3, h1 {
    padding: 6px;
}

.linky:hover {
 color: white;
 background-color: #1f2937;
 text-decoration: none;
}

.btn {
    color: #fff !important;
    text-decoration: none !important;
    background-color: teal !important;
    padding: 13px !important;
    border-radius: 12px  !important;
    margin-right: 12px !important;
    margin-top: 12px !important;
}
  
 .line {
    border: #1f2937 1px solid;
    margin-top: 4px;
 }

 
 .suggestion-entities {
 content: "";
}

*:not(name="iconic") , .language-css{
    font-family: 'Cascadia Code' , sans-serif !important;
}

.Home_main__1x8gC{
    font-family: 'Cascadia Code' , sans-serif !important;
    
}

.heading2 {
    font-size: 1.3em;
    margin-left: 3rem;
}